Options +FollowSymlinks
RewriteEngine On

#RewriteBase /

#AddHandler application/x-httpd-php5 .php5 .php
#AddType application/x-httpd-php5 .php5 .php
#php_flag magic_quotes_gpc Off


RewriteEngine On
RewriteRule ^(uploads|images|css|js|fonts|styles) - [L]
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]