@charset "utf-8";
* {
	margin: 0;
}

.clear {
	clear:both;
}
body {
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	background-image: url(../images/header-top-background.jpg);
	background-repeat: repeat-x;
}

.header {padding:15px 0 0 17px;}

.sidebar {float:left;width:auto;margin:15px;padding:10px;}
.sidebar div {padding:2px 0; font-size:14px;margin-bottom:20px;background-color:#dadada}
.sidebar a {display: block;padding: 3px 8px;text-decoration: none;}
.sidebar a:hover {text-decoration:underline;color:#000000;}

.content {float:left;width:650px;margin:15px 0;padding:10px;}


a {
	color: #6f6f6f;
	}
.clearfloat {
	clear:both;
}
.title {float:left;padding:35px 0;}
.title h1{
	color:#909090;
}
.footer {
	/*background-image: url(../images/btm-bgr.gif);background-repeat: repeat-x;*/
	background-color: #889090;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family:Tahoma;
	
}